
body{
  color: #ffffff;
  background: #020A18;
  font-family: 'Open Sans', sans-serif;
}

a{
text-decoration: none;
}

.header-background{
  background: #030e1d;
}

/* header */
#header{
  background-color: #081322;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-text{
  margin-left: 15px;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
  color: #3A68B8;
}

.nav-list{
  margin-left: -100px;
  padding-left: 0;
}

.nav-list-item{
  margin-right: 40px;
  list-style: none;
}

.nav-list-item a{
  text-transform: capitalize;
  color: #ffffff;
}

.btn{
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 22px;
  color: #FFFFFF;
  background: #3A68B8;
  border-radius: 5px;
  transition: background 0.5s ease;
}

.btn:hover{
  background-color: #5a7bb4;
}
/* /header */


/* hero section */
#hero{
  margin-top: 50px;
  overflow: hidden;
}

.hero-text{
  padding-top: 65px;
}

.blue-span{
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3A68B8;
}

.hero-title{
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
}

.hero-paragraph{
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
}

.title{
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}

.paragraph{
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
}

.hero-btn{
  display: inline-flex;
  margin-top: 50px;
}
.get-started-btn{
  margin-right: 20px;
}
.play-btn{
  display: inline-flex;
  align-items: center;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 22px;
  color: #FFFFFF;
  background: #3A68B8;
  border-radius: 5px;
  transition: background 0.5s ease;
}

.play-btn:hover{
  background-color: #5a7bb4;
}
.play-btn i{
  font-size: 32px;
}
/* /hero section */


/* company section */
#companies{
  margin-top: 80px;
  padding-bottom: 80px;
}
/* /company section */


 /* deep learning section  */
#deep{
  margin-top: 130px;
}

.deep-image img{
  width: 625px;
  margin-left: -90px;
}

.deep-text{
  padding-top: 125px;
  margin-right: -50px;
}

.deep-btn{
  margin-top: 50px;
}
 /* /deep learning section  */


 /* cards section */
 #cards{
   margin-top: 170px;
 }

 .card{
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(200px);
  border-radius: 10px;
 }

 .card-title{
  font-weight: bold;
  font-size: 25px;
  line-height: 125%;
  opacity: 0.7;
 }

 .card-p{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
 }

.dots{
  margin-top: 50px;
  /* background-color: red; */
}

.active{
  background-color: #495469;
}
.dot{
  margin: 5px;
  width: 10px;
  height: 10px;
  background: #2C3647;
  opacity: 0.5;
  backdrop-filter: blur(200px);
  border-radius: 10px;
}

 /* pseudos */
 .card::before{
   content: '';
   display: flex;
   margin: 0 auto;
   width: 98px;
   height: 103px;
 }
 
 .card1::before{
  background-image: url('../img/card-icon2.png');
 }

 .card2::before{
  background-image: url('../img/card-icon3.png');
 }

 .card3::before{
  background-image: url('../img/card-icon4.png');
 }
 /* /cards section */


 /* clients section */
 #clients{
   margin-top: 150px;
 }
 /* /clients section */


/* footer */
#footer{
  margin-top: 170px;
  background: #030e1d;
}

.footer-wrap{
  padding-top: 70px;
}

.footer-logo{
  display: flex;
  flex-direction: column;
}
.footer-logo img{
  width: 50px;
}
.footer-logo span{
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3A68B8;
}

.footer-p{
  font-weight: 450;
  font-size: 14px;
  line-height: 25px;
  opacity: 0.6;
}

.adresses{
  margin-top: 25px;
}
.adresses p{
  margin-bottom: 20px;
}

.email, .phone, .address{
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}


.column-header{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.column-list{
  list-style: none;
  margin-left: -40px;
}

.column-list-item{
  margin-bottom: 20px;
}

.column-list-item a{
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: left;
  list-style: none;
}


.site{
  margin-top: -20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.socials{
  margin-left: -65px;
}

.socials li{
  list-style: none;
  margin-left: 20px;
}

.socials li a{
  color: #818181;
}

.language{
  margin-top: 40px;
}

.language a{
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
/* /footer */